.img_logo {
    margin-left: auto;
}

.header {   
    text-align: center;
      width: 100%;
      display: flex;
      background-color: purple;
      color: white;
}

.container {
    min-width: 960px;
    margin-top: 15px;
}

.wrapper {
    display: flex; 
    flex-wrap: nowrap;
}

.block_1 {
    flex-basis:33.33%; 
}

.block_2 {
    flex-basis:66.66%; 
}

.img_class_1 {
    border-radius: 4px;
    border: 1px solid black;
    width: 100%;
}
