body{
    background-color: 	#eeae76;
    color: purple;
}

.form
{
    display: block;
    text-align: center;
}
form
{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

h1{
    padding-left: 15px;
    padding-bottom: 10px;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  form li + li {
    margin-top: 1em;
  }

  label{
      display: flex;
      padding: 5px;
  }

  input, 
  textarea {
    /* To make sure that all text fields have the same font settings
       By default, textareas have a monospace font */
    font: 1em sans-serif;
    
    /* Uniform text field size */
    /* width: 300px;
    box-sizing: border-box; */
    border-radius: 4px;
    /* Match form field borders */
    border: 1px solid #999;
  }

  
  button{
    color: white;
    background-color: #4CAF50;
    margin-left: .5em;
  }